<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apistest">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APIsTest"
        tools:ignore="AllowBackup">
        <activity android:name=".Test8" />
        <activity android:name=".Test7" />
        <activity android:name=".Test6" />
        <activity android:name=".Test5" />
        <activity android:name=".Test4" />
        <activity android:name=".Test3" />
        <activity android:name=".KeyEventActivity" />
        <activity android:name=".SingleTouchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>